$dashboard-body: #F0F2F5;
$white-color: white;
$white-smoke-color: #F0F2F5;
$black-color: black;
$black-light-color: rgba(0, 0, 0, 0.2);
$modal-color: rgba(40, 75, 99, 0.8);
$primary-color: #015C92;
$primary-color-light: #2D83B5;
$secondary-color: #004B77;
$success-color: teal;
$success-light-color: rgba(0, 128, 128, 0.2);
$cancel-color: gray;
$update-color: aqua;
$update-color-light: rgba(0, 255, 255, 0.2);
$delete-color: red;
$error-color: red;
$error-light-color: rgba(248, 105, 105, 0.2);
$delete-light-color: rgba(255, 99, 71, 0.2);
$btn-primary-color: #58a4b0;
$btn-primary-color-disabled: rgba(40, 75, 99, 0.2);