form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    .input-group {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $btn-primary-color;
        input {
            border: 0;
            background: transparent;
            color: $black-color;
            font-family: 'Noto Sans', sans-serif;
            font-size: 14px;
            outline: none;
            &:required {
                box-shadow: none;
            }
            &:focus~.input-icon {
                opacity: 1;
            }
            &.input-email,
            &.input-password {
                padding: 2px 5px;
                margin: 10px 4px 0 0;
            }
            &.input-email~.input-icon::before {
                content: "\f007"
            }
            &.input-password~.input-icon::before {
                content: "\f023"
            }
        }
    }
}