table {
    width: 100%;
    margin: auto;
    tr,
    thead {
        color: inherit;
        vertical-align: middle;
        outline: 0px;
    }
    th {
        text-align: left;
        padding: 12px 24px;
        background: transparent;
        box-shadow: none;
        color: $primary-color-light;
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 1.25;
        letter-spacing: 0.035em;
        border-bottom: 0.05rem solid $white-smoke-color;
        text-transform: uppercase;
    }
    tbody {
        display: table-row-group;
        td {
            text-align: left;
            padding: 12px 24px;
            background: transparent;
            box-shadow: none;
            border-bottom: 0.05rem solid $white-smoke-color;
            div {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
            span {
                margin: 0px;
                font-size: 0.75rem;
                line-height: 1.25;
                letter-spacing: 0.035em;
                opacity: 1;
                text-transform: none;
                vertical-align: unset;
                text-decoration: none;
                color: $cancel-color;
                font-weight: 700;
            }
            img {
                width: 50px;
                height: 50px;
                object-fit: contain;
                border: 1px solid black;
                border-radius: 5px;
            }
        }
    }
}