.logo {
    text-align: center;
    color: $white-color;
    i {
        display: block;
        padding: 20px 0 0 0;
        font-size: 70px;
        transform: translateX(-5px);
    }
    .logo-icon {
        width: 220px;
        height: 30px;
        margin-top: 20px;
        object-fit: contain;
    }
}