.logo {
    text-align: center;
    color: white;
}

.logo i {
    display: block;
    padding: 20px 0 0 0;
    font-size: 70px;
    transform: translateX(-5px);
}

.logo img {
    margin-top: 20px;
    width: 80%;
    height: 30px;
}