.dashbord-header-container {
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .dashbord-header-btn {
        padding: 0.8em;
        padding-left: 2em;
        padding-right: 2em;
        cursor: pointer;
        color: $white-color;
        font-size: 0.9rem;
        font-weight: 700;
        border-radius: 8px;
        text-transform: uppercase;
        border: 1px solid $primary-color;
        background-color: $primary-color;
        &:hover {
            color: $primary-color;
            border: 1px solid $primary-color;
            background-color: $white-smoke-color;
        }
    }
}