@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import 'https://fonts.googleapis.com/css?family=Noto+Sans';
@import 'colors',
'app',
'pages/login',
'components/logo',
'components/dashboardHeader',
'components/sidebar',
'components/user',
'components/riskCategoryItem';
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.error {
    width: 100%;
    align-self: center;
    background: $error-light-color;
    text-align: center;
    color: $error-color;
    border: 1px solid $error-color;
}

.link {
    text-decoration: none;
}